#body {
	background-color: #0f052c;
	color: white;
	margin-top: 3%;
	margin-bottom: 3%;
	margin-left: 8%;
	margin-right: 8%;
}

#name {
	color: orangered;
	padding-top: 1px;
}

.contents {
	color: gray;
}

#apresentacao {
	font-size: 150%;
	line-height: 13px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 10px 55px;
}

#location {
	font-size: 50%;
}

#foto {
  border-radius: 30px;
	width: 180px;
	position: absolute;
	left: 70%;
}

#div-sobre {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 180px 55px;
	padding-bottom: 70px;
	gap: 20px;
	flex: none;
	order: 4;
	flex-grow: 0;
}

#div-sobre, h3 {
	text-align: center;
}

#div-sobre, p {
	text-align: justify;
}

#div-formacao {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 10px 55px;
	width: 1280px;
	height: 404px;
	flex: none;
	order: 5;
	flex-grow: 0;
	top: -10px;
}

#icon-school {
	width: 540px;
	height: 450px;
	flex: none;
	order: 0;
	flex-grow: 0;
	font-size: 1500%;
	top: -10px;
	left: 55px;
}

#formacao {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0;
	gap: 20px;
	width: 570px;
	height: 314px;
	flex: none;
	order: 1;
	flex-grow: 1;
	top: 58px;
	left: 665px;
}

#div-certificacao {
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
	align-items: center;
	padding: 10px 55px;
	width: 1280px;
	height: 404px;
	flex: none;
	order: 5;
	flex-grow: 0;
	top: -10px;
}

#certificacao {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0;
	gap: 20px;
	width: 570px;
	height: 314px;
	flex: none;
	order: 1;
	flex-grow: 1;
	top: 58px;
	left: 665px;
}

#icon-certificacao {
	width: 540px;
	height: 450px;
	flex: none;
	order: 0;
	flex-grow: 0;
	font-size: 1500%;
	top: -10px;
	left: 55px;
}

#div-experiencias {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 10px 55px;
	width: 1080px;
	height: 404px;
	flex: none;
	order: 5;
	flex-grow: 0;
	top: -10px;
}

#icon-experiencias {
	width: 540px;
	height: 450px;
	flex: none;
	order: 0;
	flex-grow: 0;
	font-size: 2000%;
	top: -10px;
	left: 55px;	
}

#experiencias {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0;
	gap: 20px;
	width: min-content;
	height: 314px;
	flex: none;
	order: 1;
	flex-grow: 1;
	top: 58px;
	left: 660px;
}

#div-estudar {
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
	align-items: center;
	padding: 370px 55px 60px 55px;
	width: 1280px;
	height: 404px;
	flex: none;
	order: 5;
	flex-grow: 0;
	top: -10px;
}

#estudar {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0;
	gap: 20px;
	width: 570px;
	height: 314px;
	flex: none;
	order: 1;
	flex-grow: 1;
	top: 58px;
	left: 665px;
}

#icon-estudar {
	width: 540px;
	height: 450px;
	flex: none;
	order: 0;
	flex-grow: 0;
	font-size: 1500%;
	top: -10px;
	left: 55px;
}

#div-fazer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 300px 55px 100px 55px;
	width: 1280px;
	height: 404px;
	flex: none;
	order: 5;
	flex-grow: 0;
	top: -10px;
}

#fazer {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0;
	gap: 20px;
	width: 570px;
	height: 314px;
	flex: none;
	order: 1;
	flex-grow: 1;
	top: 58px;
	left: 665px;
}

#icon-fazer {
	width: 540px;
	height: 450px;
	flex: none;
	order: 0;
	flex-grow: 0;
	font-size: 1500%;
	top: -10px;
	left: 55px;
}

#div-contatos {
	position: absolute;
	width: 1280px;
	height: 137.55px;
	left: 0px;
	top: 2700px;
}

#itens-contatos {
	position: absolute;
	width: 1280px;
	height: 35.95px;
	top: 50.44px;
	font-size: 15px;
}

#github {
	position: absolute;
	width: 101.68px;
	height: 33.37px;
	left: 160px;
	top: 53.02px;
}

#email {
	position: absolute;
	width: 162.7px;
	height: 33.37px;
	left: 325px;
	top: 53.02px;
}

#linkedin {
	position: absolute;
	width: 179.82px;
	height: 33.37px;
	left: 620px;
	top: 50.44px;
}

#insta {
	position: absolute;
	width: 91.83px;
	height: 33.37px;
	left: 815px;
	top: 53.02px;
}

#whats {
	position: absolute;
	width: 131px;
	height: 33.37px;
	left: 1000px;
	top: 53.02px;
}

.itens-contatos p {
	color: gray;
}

@media screen and (max-width: 768px) {
	#foto {
		border-radius: 30px;
		width: 180px;
		position: absolute;
		left: 33%;
	}

	#div-sobre {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 220px 60px;
		padding-bottom: 30px;
		width: 400px;
		gap: 20px;
		flex: none;
		order: 4;
		flex-grow: 0;
	}

	#div-formacao {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		padding: 10px 55px;
		width: 400px;
		height: 404px;
		flex: none;
		order: 5;
		flex-grow: 0;
		top: -10px;
	}
	
	#icon-school {
		width: 100px;
		height: 150px;
		flex: none;
		order: 0;
		flex-grow: 0;
		font-size: 300%;
		top: -10px;
		left: 55px;
	}
	
	#formacao {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding: 0;
		width: min-content;
		height: 314px;
		flex: none;
		order: 1;
		flex-grow: 1;
		top: 58px;
		left: 665px;
	}

	#div-certificacao {
		display: flex;
		flex-direction: row-reverse;
		justify-content: center;
		align-items: center;
		padding: 10px 55px;
		width: 400px;
		height: 404px;
		flex: none;
		order: 5;
		flex-grow: 0;
		top: -10px;
	}
	
	#certificacao {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding: 0;
		gap: 20px;
		width: min-content;
		height: 314px;
		flex: none;
		order: 1;
		flex-grow: 1;
		top: 58px;
		left: 665px;
	}
	
	#icon-certificacao {
		width: 50px;
		height: 200px;
		padding-left: 20px;
		flex: none;
		order: 0;
		flex-grow: 0;
		font-size: 300%;
		top: -10px;
		left: 55px;
	}

	#div-experiencias {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		padding: 0px 55px;
		width: 400px;
		height: 404px;
		flex: none;
		order: 5;
		flex-grow: 0;
		top: -10px;
	}
	
	#icon-experiencias {
		width: 50px;
		height: 600px;
		flex: none;
		order: 0;
		flex-grow: 0;
		font-size: 300%;
		top: -10px;
		left: 55px;
	}
	
	#experiencias {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 0;
		gap: 20px;
		width: min-content;
		height: 550px;
		flex: none;
		order: 1;
		flex-grow: 1;
		top: 58px;
		left: 660px;
		padding-left: 20px;
	}

	#div-estudar {
		display: flex;
		flex-direction: row-reverse;
		justify-content: center;
		align-items: center;
		padding: 370px 55px 60px 55px;
		width: 400px;
		height: 404px;
		flex: none;
		order: 5;
		flex-grow: 0;
		top: -10px;
	}
	
	#estudar {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding: 0;
		gap: 20px;
		width: min-content;
		height: 300px;
		flex: none;
		order: 1;
		flex-grow: 1;
		top: 58px;
		left: 665px;
		padding-top: 40px;
	}
	
	#icon-estudar {
		width: 50px;
		height: 240px;
		flex: none;
		order: 0;
		flex-grow: 0;
		font-size: 300%;
		top: -10px;
		left: 55px;
	}

	#div-fazer {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		padding: 300px 55px 100px 55px;
		width: 400px;
		height: 404px;
		flex: none;
		order: 5;
		flex-grow: 0;
		top: -10px;
	}
	
	#fazer {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding: 0;
		gap: 20px;
		width: min-content;
		height: 410px;
		flex: none;
		order: 1;
		flex-grow: 1;
		top: 58px;
		left: 665px;
		padding-left: 20px;
	}
	
	#icon-fazer {
		width: 50px;
		height: 450px;
		flex: none;
		order: 0;
		flex-grow: 0;
		font-size: 300%;
		top: -10px;
		left: 55px;
	}

	#div-contatos {
		position: absolute;
		width: 400px;
		height: 137.55px;
		left: 0px;
		top: 2700px;
		padding-top: 200px;
	}
	
	#itens-contatos {
		position: absolute;
		width: 400px;
		height: 35.95px;
		top: 220px;
		font-size: 15px;
	}
	
	#github {
		position: absolute;
		width: 68px;
		height: 33.37px;
		left: 100px;
		top: 53.02px;
	}
	
	#email {
		position: absolute;
		width: 70px;
		height: 33.37px;
		left: 235px;
		top: 53.02px;
	}
	
	#linkedin {
		position: absolute;
		width: 179.82px;
		height: 200px;
		left: 100px;
		top: 200px;
	}
	
	#insta {
		position: absolute;
		width: 91.83px;
		height: 200px;
		left: 235px;
		top: 200px;
	}
	
	#whats {
		position: absolute;
		width: 131px;
		height: 33.37px;
		left: 100px;
		top: 350px;
	}
}